/* Центрування заголовків */
h1, h2, h3 {
  text-align: center;
  color: #ffd700; /* Золото для стилю втуберів */
}

.hero-section{
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(255, 215, 0, 0.2);
}

/* Картки статей */
.card {
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  background-color: #1a1a1a;
}

/* Кнопки */
.btn {
  border-radius: 8px;
}

.btn-outline-info{
  border-color: #00bfff;
  color: #00bfff
}

.btn-outline-info:hover{
  border-color: #00bfff;
  color: #121212
}

/* Загальний стиль для темної теми */
body {
  background-color: #121212;
  color: #e0e0e0;
}

/* Повідомлення про помилку з анімацією */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

/* Стиль блока "Такої статті немає" */
.animate-shake {
  animation: shake 0.4s ease-in-out;
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.05);
}

/* Вибір картинки (графічне виділення) */
.selectable-image {
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}

/* Підсвітка обраної картинки */
input[type="radio"].btn-check:checked + label > .selectable-image {
  border: 3px solid #00bfff;
  box-shadow: 0 0 10px rgba(0, 191, 255, 0.6);
}

/* Ефект наведення на картинку */
.card:hover{
  transform: scale(1.02);
  transition: transform 0.3s ease;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.3);
}

/*підкреслення тексту при наведенні*/
.nav-link {
  position: relative;
  transition: color 0,3s ease ;
  display: inline-block;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out ;
}

.nav-link:hover:after,
.nav-link:active:after{
  transform: scaleX(1);
}

.nav-link{
  color: #e0e0e0;
  transition: color 0.3s ease;
}

.nav-link:hover{
  color: #acacac;
}
 
.nav-link:active {
  color: #acacac;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn{
  from{opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(20px);}
}