{% extends 'base.html' %}
{% block content %}
<div class="container py-4">
    <h1 class="text-warning text-center">Контакти</h1>
    <ul class="text-light fs-5">
        <li>Мій Telegram: <a href="https://t.me/zesty011" class="link-info">@zesty011</a></li>
        <li>мій github: <a href="https://github.com/maksmaks21?tab=repositories" class="link-info">github</a></li>
        <li>Сайт логіки: <a href="https://logikaschool.com/" class="link-info">Logika</a></li>
    </ul>
</div>
{% endblock %}
