{% extends 'base.html' %}
{% block content %}

<!-- Головна сторінка привітання -->
<section class="hero-section text-center text-light py-5">
    <h1 class="display-4 text-warning fw-bold">Світ Vтуберства</h1>
    <p class="lead mb-4">Поринь у цифрову творчість і познайомся з віртуальними стримерами!</p>
    <a href="{{ url_for('add_article') }}" class="btn btn-outline-light mt-3">Додати статтю</a>
</section>

<h2 class="text-warning text-center">Vtube-Статті</h2>

<div class="row mt-4">
    {% for article in articles %}
    <div class="col-md-4 mb-4">
        <div class="card h-100 bg-dark text-light">
            <img src="{{ url_for('static', filename=article[4]) }}" class="card-img-top" alt="Зображення статті" style="height: 200px; object-fit: cover;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ article[1] }}</h5>
                <p class="card-text">{{ article[3] }}</p>
                <a href="{{ url_for('article_page', article_id=article[0]) }}" class="btn btn-outline-info mt-auto">Відкрити статтю</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="text-center mt-5">
    <p class="text-light">Сайт зробив zesty01 2травня 2025р.</a></p>
</div>
{% endblock content %}
