{% extends 'base.html' %}
{% block content %}
<div class="container py-4">
    <h1 class="text-warning text-center">Корисні ресурси</h1>
    <ul class="text-light fs-5">
        <li><a href="https://www.live2d.com/en/" class="link-info" target="_blank">Live2D — анімація аватарів</a></li>
        <li><a href="https://obsproject.com/" class="link-info" target="_blank">OBS Studio — стрімінг</a></li>
        <li><a href="https://veadotube.hezix.xyz/" class="link-info" target="_blank">Veadotube Mini — простий втуб-аватар</a></li>
        <li><a href="https://pixabay.com/" class="link-info" target="_blank">Pixabay — безкоштовні зображення</a></li>
    </ul>
</div>
{% endblock %}